<div *ngIf="!user">
    <div id="cover"></div>
    <div id="contentCover">
        <div class="presentation">
            <h1 class="h1">Hacer un presupuesto</h1>
            <br>
            <h2 class="h2">Plantillas y calculos para presupuestos online</h2>
            <br>
            <h3 class="h3">TOTALMENTE GRATIS <button type="button" class="btn btn-light btn-lg m-2"
                    [routerLink]="['/registro']">Comienza ahora</button>
            </h3>
            <br>
            <div class="content">
                <div class="column">
                    <p class="p">
                        Todo proyecto comienza con un presupuesto, te ofrecemos un servicio gratuito para que este
                        trámite
                        sea más sencillo y rápido.
                        Podrás calcular el coste y beneficio de tus artículos y servicios, en base a un conjunto de
                        elementos con distintas características que tú mismo podrás configurar fácilmente.
                        También es posible generar un pdf, con tu logotipo, tus datos, los datos de tu cliente y el
                        resultado del presupuesto para imprimirlo, enviarlo por mail, o archivarlo.
                        Sabemos que agilizar la entrega de presupuestos, repercute en más ventas o contratos y te deja
                        más
                        tiempo para atender mucho mejor a tus clientes.hola

                    </p>
                </div>
                <div class="column">
                    <div class="animation">
                        <div class="animationContent" id="presentation">
                            <img id="cloud" src="../../assets/img/presentation/online_presupuesto.svg">
                            <img id="pdf" src="../../assets/img/presentation/online_pdf_presupuesto.svg">
                            <img id="budguet1" src="../../assets/img/presentation/online_articulo_presupuesto.svg">
                            <img id="budguet2" src="../../assets/img/presentation/online_articulo_presupuesto.svg">
                            <img id="budguet3" src="../../assets/img/presentation/online_articulo_presupuesto.svg">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h2 class="h2">Guarda datos de Productos, lotes y servicios</h2>
            <br>
            <div class="content">
                <div class="column">
                    <p class="p">
                        Guarda los elementos que necesitas para hacer un presupuesto de forma unitaria o por lotes,
                        controla el margen de beneficios y los costes fácilmente para hacer tus precios más competitivos
                        sin riesgo de quedarse corto en el precio final. Una vez añadido el elemento al artículo final,
                        podrás modificarlo libremente para que se adapte a cada cliente o a cada artículo. Podrías tener
                        un elemento que forme parte de distintos productos y a cada producto ponerle un precio distinto
                        a ese elemento.

                    </p>
                </div>
                <div class="column">
                    <div class="animation">
                        <div class="animationContent" id="unit">
                            <img id="box1" src="../../assets/img/presentation/unidades_archivo_presupuesto_1.svg">
                            <img id="box2" src="../../assets/img/presentation/unidades_archivo_presupuesto_2.svg">
                            <img id="article" src="../../assets/img/presentation/unidades_articulos.svg">
                            <img id="lot" src="../../assets/img/presentation/unidades_lotes.svg">
                            <img id="service" src="../../assets/img/presentation/unidades_servicios.svg">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h2 class="h2">Calcula los articulos que puedes extraer de una superficie</h2>
            <br>
            <div class="content">
                <div class="column">
                    <p class="p">
                        Podrás calcular fácilmente cuántos artículos entran en una superficie para realizar rápidamente
                        presupuestos de productos extraídos de una plancha o un tablero, sin necesidad de laboriosos
                        procedimientos. Con un solo clic podrás comprobar cómo aprovechar mejor una superficie
                        determinando si formular una distribución horizontal o vertical. También lo podrás utilizar para
                        el proceso contrario como por ejemplo establecer cuántas piezas se necesitan para cubrir un
                        suelo de determinada medida.
                    </p>
                </div>
                <div class="column">
                    <div class="animation">
                        <div class="animationContent" id="surface">
                            <img id="cutpanel1" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="cutpanel2" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="cutpanel3" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="cutpanel4" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="cutpanel5" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="cutpanel6" src="../../assets/img/presentation/superficie_articulo_presupuesto.svg">
                            <img id="panel" src="../../assets/img/presentation/superficie_presupuesto.svg">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <h2 class="h2">Aprovechamiento de bobinas o materiales largos</h2>
            <br>
            <div class="content">
                <div class="column">
                    <p class="p">
                        Si trabajas con estos materiales, esta es tu opción, de manera sencilla calcularas que medida
                        necesitas para realizar un pedido o un lote de artículos. Estableciendo el ancho del material y
                        las dimensiones y orientación del producto nuestro software hará el trabajo por ti, mejorando la
                        capacidad de tu empresa para hacer presupuestos de este tipo. Puedes establecer distintos
                        procesos para el mismo trabajo que se sumará al precio final del artículo.
                    </p>
                </div>
                <div class="column">
                    <div class="animation">
                        <div class="animationContent" id="coils">
                            <img id="cutcoil1" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="cutcoil2" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="cutcoil3" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="cutcoil4" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="cutcoil5" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="cutcoil6" src="../../assets/img/presentation/bobina_articulo_presupuesto.svg">
                            <img id="coil" src="../../assets/img/presentation/bobina_presupuesto.svg">
                        </div>
                    </div>
                </div>
            </div>
            <br>


            <br>
            <footer class="container-fluid text-center">
                <h3 class="text-light" style="font-size: x-large;">hacerunpresupuesto.com</h3>
                <button type="button" class="btn btn-light btn-lg m-2" [routerLink]="['/registro']">Comienza
                    ahora</button>
                <div class=" footer p-3 text-white">
                    <div class="mx-auto text-center">
                        <a class=" m-2" style="color: rgba(255,255,255,0.5);"
                            [routerLink]="['politica-de-privacidad']">Politica de privacidad</a>
                        <button type="button" class="btn btn-outline-light btn-rounded m-2"
                            style="color: rgba(255,255,255,0.5); " [routerLink]="['contacto']">
                            Contactar con el equipo de desarrollo
                        </button>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>



<div *ngIf="user">

    <div *ngIf="user.coin==null || user.measure==null" class="mt-1">
        <div class="p-1 mt-3 alert-warning text-dark  text-center">
            <p class="mb-0" [routerLink]="['/ajustes']">
                Configura <b>aquí</b> tu perfil para tener imagen, impuestos, medidas y moneda por defecto.
            </p>
        </div>
    </div>

    <div *ngIf="startArticle==true && startCategory" class="mt-1">
        <div class="p-1 mt-3 alert alert-warning text-center">
            <p class="mb-0" [routerLink]="['/nueva-categoria']">
                Crear categorías <b>aquí</b> para organizar tus articulos.
            </p>
        </div>
    </div>
    <div *ngIf="startCategory && !startDepartment" class="mt-1">
        <div class="p-1 mt-3 alert alert-warning text-center">
            <p class="mb-0" [routerLink]="['/nuevo-departamento']">
                Crear departamentos <b>aquí</b> para organizar tus articulos y categorías.
            </p>
        </div>
    </div>


    <div class="d-flex flex-wrap">
        <div class="p-2 flex-fill bd-highlight">
            <app-list-department></app-list-department>
            <hr>
            <app-list-category></app-list-category>
            <hr>
            <app-list-client></app-list-client>
        </div>

        <div class="p-2 flex-fill bd-highlight">
            <app-list-article></app-list-article>
            <hr>
            <app-list-element></app-list-element>
        </div>
    </div>

    <div *ngIf="startElement==true">
        <div class="modal">
            <div class="modal-body d-flex justify-content-center">
                <div class="card bd-highlight" style="width: 24rem;">
                    <div class="card-header">
                        <h1 class="card-subtitle mb-2 text-center">¡Bienvenido!</h1>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="card-subtitle mb-2">Crea un Nuevo Material o Proceso</h2>
                        <p class="card-text">
                            Para comenzar a hacer presupuestos, pulsa "Comenzar" para crear tu primer Material o Proceso
                            <br><small>También puedes entrar desde el menú de Navegación "Nuevo" y a continuación
                                "Material o Proceso"</small>
                        </p>
                        <button type="button" class="btn btn-secondary m-1" (click)="ModalElement()">Saltar</button>
                        <button type="button" class="btn btn-primary m-1" (click)="ModalElement()"
                            [routerLink]="['/nuevo-elemento']">Comenzar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="startArticle==true">
        <div class="modal">
            <div class="modal-body d-flex justify-content-center">
                <div class="card bd-highlight" style="width: 38rem;">
                    <div class="card-header">
                        <h1 class="card-subtitle mb-2 text-center">¡Enhorabuena!</h1>
                        <p class="text-center">HAS CREADO TU PRIMER MATERIAL O PROCESO</p>
                    </div>
                    <div class="card-body text-center">
                        <h2 class="card-subtitle mb-2">Ya puedes Crear tu primer Artículo</h2>
                        <p class="card-text">
                            ¿Que deseas hacer ahora?
                        </p>
                        <button type="button" class="btn btn-secondary m-1" (click)="ModalArticles()">Saltar</button>
                        <button type="button" class="btn btn-secondary m-1" [routerLink]="['/nuevo-elemento']"
                            (click)="ModalArticles()">Crear Otro Material o Proceso</button>
                        <button type="button" class="btn btn-primary m-1" (click)="ModalArticles()"
                            [routerLink]="['/nuevo-articulo']">Crear Nuevo Artículo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>